<div *ngIf="!story">Loading</div>
<div class="background-image" *ngIf="story">
  <p>{{story.owner.username}}</p>
  <p>{{story.message}}</p>
  <p *ngFor="let reply of story.replies">{{reply.author.username}}: {{reply.reply}}</p>
  <!-- <p *ngFor="let reply of story.replies">{{reply.author}}: {{reply.reply}}</p> -->
  <div>
    <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
      <div class="field form-group" [ngClass]="{'has-error': feedbackEnabled && storyField.errors}">
        <label><strong>Reply</strong></label>
        <textarea class="form-control" type="text" name="reply" [(ngModel)]="reply" #storyField="ngModel" required minlength="1" [disabled]="processing"></textarea>
        <div *ngIf="feedbackEnabled && storyField.errors">
          <p *ngIf="storyField.errors.required" class="validation">Text field is required</p>
          <p *ngIf="storyField.errors.minlength" class="validation">Tell the community how you are doing</p>
        </div>
      </div>
      <div class="field submit">
        <button class="btn btn-dark" type="submit" [disabled]="processing">Reply</button>
        <div *ngIf="feedbackEnabled && form.invalid">
          <p class="validation">there are errors in the form, please review the fields</p>
        </div>
      </div>
    </form>
  </div>
</div>