.background-image {
  background: url('/../../assets/images/sharemo-bg.png');
  background-repeat: no-repeat; 
  background-size: cover;
  padding-top: 5vh;
  min-height: 90vh;
  background-position: center
}