


.card { 
  width: 40vh;
  border: 1px solid black;
  padding: 25px;
  background-color: #f2dc3161;
  color: black;
  text-align: left;
  justify-content: center;
  border-radius: 6px;
}

.warpper-card {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}

a:hover {
  background-color: #b2bb2191;
}

