<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
</nav>

<router-outlet></router-outlet>

<div class="footer text-muted">    
  <div class="container footer-wrapper">               
    <p>
      <span class="footer-element"><em>Coded by</em></span>
      <span class="footer-element"><i class="fa fa-github"></i></span>
      <a href="https://github.com/victorpellerin" target="_blank"><strong>Victor</strong></a>                       
      <span class="footer-element"><em>and</em></span> 
      <span class="footer-element"><i class="fa fa-github"></i></span>
      <a href="https://github.com/lindaluisa" target="_blank"><strong>lindaluisa</strong></a>
    </p>              
  </div>     
</div>

