.sharemo-logo {
  font-family: 'Pacifico';
  font-size: 20px;
  position: static;
  top: 10vh;

}

.navbar {
  /* background-color: #E3AC0B; */
  /* border-bottom: white 2px solid; */
  padding: 15px;
  /* background: linear-gradient(#fafd8152,#efff00); */
  background: linear-gradient(#f2d020,#f2dd36);
}


.footer {
  background: linear-gradient(#f2dd36,#f2d020);
  padding: 5vh;
  text-align: center;
}

.footer a {
  text-decoration: none;
  background-color: none;
  color:black;
}

.greeting-user {
  color: black;
}

.logout-btn {
  margin-left: 5px;
}