<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
    Sharemo
  </a>
  
  <div [ngClass]="{'is-user': user, 'is-anon': anon}">
    <div *ngIf="loading">
      <span class="username text">loading...</span>
    </div>
    <div *ngIf="!loading && !!user">
      <a [routerLink]="['/profile']">{{user.username}}</a>
      <a [routerLink]="['/logout']">logout</a>
    </div>
    <div *ngIf="!loading && anon">
      <a [routerLink]="['/login']">login</a>
      <a [routerLink]="['/signup']">signup</a>
    </div>
  </div>

</nav>

<router-outlet></router-outlet>

<div class="footer text-muted">    
  <div class="container footer-wrapper">               
    <p>
      <span class="footer-element"><em>Coded by</em></span>
      <span class="footer-element"><i class="fa fa-github"></i></span>
      <a href="https://github.com/victorpellerin" target="_blank"><strong>Victor</strong></a>                       
      <span class="footer-element"><em>and</em></span> 
      <span class="footer-element"><i class="fa fa-github"></i></span>
      <a href="https://github.com/lindaluisa" target="_blank"><strong>lindaluisa</strong></a>
    </p>              
  </div>     
</div>

