<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">
    <div class="sharemo-logo d-inline-block">
      Sharemo
    </div> 
    <img src="./assets/images/sharemo-logo.png" width="50" height="40" class="" alt="">
  </a>
  
  <div [ngClass]="{'is-user': user, 'is-anon': anon}">
    <div *ngIf="loading">
      <span class="username text">loading...</span>
    </div>
    <div *ngIf="!loading && !!user">
      <a class="greeting-user" [routerLink]="['/profile']">Hello, {{user.username}}</a>
      <button class="btn btn-outline-dark logout-btn" (click)="logout($event)">logout</button>
      <!-- <a [routerLink]="['/users']">users</a> -->
    </div>
  </div>

</nav>

<router-outlet></router-outlet>

<div class="footer">    
  <div class="container footer-wrapper">               
    <p>
      <span class="footer-element"><em>Coded by</em></span>
      <span class="footer-element"><i class="fa fa-github"></i></span>
      <a href="https://github.com/victorpellerin" target="_blank"><strong>victorpellerin  </strong></a>                       
      <span class="footer-element"><em>and</em></span> 
      <span class="footer-element"><i class="fa fa-github"></i></span>
      <a href="https://github.com/lindaluisa" target="_blank"><strong>lindaluisa</strong></a>
      <span class="footer-element"><em>with</em></span>
      <span class="footer-element"><i class="fa fa-heart"></i></span>
    </p>              
  </div>     
</div>

