<!-- <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Create new story
  </button>
</p> -->
<!-- <div class="collapse" id="collapseExample">
  <div class="card card-body"> -->

    <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

      <div class="field form-group" [ngClass]="{'has-error': feedbackEnabled && storyField.errors}">
        <label>New story</label>
        <textarea class="form-control" type="text" name="story" [(ngModel)]="story" #storyField="ngModel" required minlength="1" [disabled]="processing"></textarea>
        <div *ngIf="feedbackEnabled && storyField.errors">
          <p *ngIf="storyField.errors.required" class="validation">text required</p>
          <p *ngIf="storyField.errors.minlength" class="validation">you have to write something!!!</p>
        </div>
      </div>

      <div class="field submit">
        <button type="submit" [disabled]="processing">Create Story</button>
        <div *ngIf="feedbackEnabled && form.invalid">
          <p class="validation">there are errors in the form, please review the fields</p>
        </div>
      </div>
    </form>

  <!-- </div>
</div> -->
