/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 0;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  background: url('./assets/images/sharemo-bg.png');
  min-height: 90vh;
  background-position: center;
  /* background-size: cover; */
  padding: 5vh 0;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}


/* ---- components ---- */


/* -- forms -- */
.navbar {
  /* background-color: #E3AC0B; */
  /* border-bottom: white 2px solid; */
  padding: 15px;
  /* background: linear-gradient(#fafd8152,#efff00); */
  background: linear-gradient(#f2d020,#f2dd36);
}

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

form .validation {
  margin: 5px 0 10px;
  color: red;
}

form .field.has-error label {
	color: red;
}
form .field.has-error input {
	border: 1px solid  red;
}
